@model CourseRegistration.Models.Category

<ul class="dropdown-menu">
    <li>@Html.ActionLink("Introducation", "Index", "Course")</li>
    <li class="dropdown-sub">
        <a data-toggle="dropdown" href="~/Course/Agile" role="button" aria-expanded="false">
            Agile
        </a>
        <ul class="dropdown-submenu">
            <li>@Html.ActionLink("Certified Scrum Product Owner", "Index", "Course")</li>
        </ul>
    </li>
</ul>